---
import ImageGrid from "@components/ImageGrid.astro";
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import MainLayout from "@layouts/main.astro";
import { formatDate } from "@lib/format-date";

const unsortedSkills = await getCollection("skills");
const skills = unsortedSkills.sort((a, b) => a.data.id - b.data.id);

const unsortedProjects = await getCollection("projects");
const projects = unsortedProjects.sort((a, b) => a.data.id - b.data.id);

const unfiltereedBlgos = await getCollection("blogs");
const blogs = unfiltereedBlgos.filter((blog) => blog.data.featured == true);

const unfilderedResearch = await getCollection("research");
const research = unfilderedResearch.filter(
  (research) => research.data.featured == true
);
---

<MainLayout title="v3.0.0">
  <!-- HERO SECTION -->

  <Header mainContent="Anav" fadedContent="aan-avv" />
  <article>
    <p>
      Hey! I'm a 1st year Software Engineering student at the
      <a href="https://www.usp.ac.fj/" target="_blank">
        University of the South Pacific
      </a>
      who might be a little <em>too</em> passionate about web development.
    </p>
  </article>
  <ImageGrid />

  <!-- SKILLS SECTION -->

  <Header mainContent="My Skills" fadedContent="" />
  <article class="space-y-3">
    {
      skills.map((skill) => (
        <p>
          <span class="font-bold">{skill.data.title}</span>
          {" - "}
          {skill.data.description}
          {skill.data.examples.map((example) => (
            <code class="mr-2">{example}</code>
          ))}
        </p>
      ))
    }
  </article>
  <!-- PROJECTS SECTION -->

  <Header mainContent="Top Projects" fadedContent="" />

  <article class="space-y-3">
    {
      projects.map((project) => (
        <p>
          <a href={"projects/" + project.slug} class="font-bold">
            {project.data.title}
          </a>
          {" - "}
          {project.data.description}
        </p>
      ))
    }
  </article>

  <!-- WRITINGS SECTION -->

  <Header mainContent="Blogs & Research" fadedContent="" />

  <article class="space-y-3">
    {
      blogs.map((blog) => (
        <div class="text-xl">
          <a href={"blogs/" + blog.slug} class="font-bold">
            {blog.data.title}
          </a>
          <div class="text-zinc-500 mt-1">
            Blog • {formatDate(blog.data.date)}
          </div>
        </div>
      ))
    }
    {
      research.map((research) => (
        <div class="text-xl">
          <a href={"research/" + research.slug} class="font-bold">
            {research.data.title}
          </a>
          <div class="text-zinc-500 mt-1">
            Research • {formatDate(research.data.date)}
          </div>
        </div>
      ))
    }
  </article>
</MainLayout>
