---
import ImageGrid from "@components/ImageGrid.astro";
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import MainLayout from "@layouts/main.astro";
import { formatDate } from "@lib/format-date";

const unsortedSkills = await getCollection("skills");
const skills = unsortedSkills.sort((a, b) => a.data.id - b.data.id);

const unsortedProjects = await getCollection("projects");
const projects = unsortedProjects.sort((a, b) => a.data.id - b.data.id);

const unfiltereedBlgos = await getCollection("blogs");
const blogs = unfiltereedBlgos.filter((blog) => blog.data.featured == true);

const unfilderedResearch = await getCollection("research");
const research = unfilderedResearch.filter(
  (research) => research.data.featured == true
);
---

<MainLayout
  title="Anav Chand - Fullstack Web Dev From Fiji"
  description="Hey. I'm a 1st year Software Engineering student at the University of the South Pacific."
>
  <!-- HERO SECTION -->

  <article class="my-12 space-y-2">
    <Header content="Hi, I'm Anav" />
    <p>
      I am a 1st year Software Engineering student at the
      <a href="https://www.usp.ac.fj/" target="_blank">
        University of the South Pacific
      </a> who might be a little <em>too</em> passionate about web development.
    </p>
  </article>
  <ImageGrid />
  <div id="skills"></div>

  <!-- SKILLS SECTION -->

  <h2>My Skills</h2>
  {
    skills.map((skill) => (
      <p>
        <span class="font-semibold">{skill.data.title}</span>
        {" - "}
        {skill.data.description}
        {skill.data.examples.map((example) => (
          <code class="mr-1 text-sm">{example}</code>
        ))}
      </p>
    ))
  }
  <div id="projects"></div>

  <!-- PROJECTS SECTION -->

  <h2>Top Projects</h2>
  {
    projects.map((project) => (
      <p>
        <a href={"projects/" + project.slug} class="font-semibold">
          {project.data.title}
        </a>
        {" - "}
        {project.data.description}
      </p>
    ))
  }
  <div id="research"></div>

  <!-- RESEARCH SECTION -->

  <h2>Research</h2>
  {
    research.map((research) => (
      <div class="space-y-1">
        <a href={"research/" + research.slug} class="font-semibold">
          {research.data.title}
        </a>
        <p class="faded">{formatDate(research.data.date)}</p>
      </div>
    ))
  }
  <div>
    <a href="/research">All Research</a>
  </div>
  <div id="blogs"></div>

  <!-- BLOGS SECTION -->

  <h2>Blogs</h2>
  {
    blogs.map((blog) => (
      <div class="space-y-1">
        <a href={"blogs/" + blog.slug} class="font-semibold">
          {blog.data.title}
        </a>
        <p class="faded">{formatDate(blog.data.date)}</p>
      </div>
    ))
  }
  <div>
    <a href="/blogs">All Blogs</a>
  </div>
</MainLayout>
