---
import type { CollectionEntry } from "astro:content";
import { short } from "@utils/getDate";

interface Props {
    experience: CollectionEntry<"experience">;
}

const { experience } = Astro.props;
const { data } = experience;

const { Content } = await experience.render();

const startDate = short(data.startDate);
const endDate: Date | String = data.present ? "Present" : short(data.endDate);
---

<h2 id={experience.slug} class="first-of-type:pt-0">{data.shortTitle}</h2>

<hr />

<div class="flex flex-col md:flex-row justify-between">
    <p>{data.type} @ {data.company}</p>
    <p>{startDate} - {endDate}</p>
</div>

<Content />
