---
import withLoniLanu from "@images/with-loni-lanu.jpg";
import withVishant from "@images/with-vishant.jpg";
import withVetaia from "@images/with-vetaia.jpg";
import withAeron from "@images/with-aeron.jpg";
import withLoni from "@/images/with-loni.jpg";
import anav from "@images/anav.jpg";
import { Image } from "astro:assets";
---

<section class="grid grid-cols-2 md:grid-cols-3 grid-rows-3 gap-4">
    <Image
        src={withVetaia}
        alt="Anav Chand with Vetaia"
        width={500}
        height={500}
        format="webp"
        loading="eager"
        class="hero-image hidden md:block md:h-40"
    />
    <Image
        src={anav}
        alt="Anav Chand"
        width={500}
        height={500}
        format="webp"
        loading="eager"
        class="hero-image row-span-2"
    />
    <Image
        src={withAeron}
        alt="Anav Chand with Aeron Nand"
        width={500}
        height={500}
        format="webp"
        loading="eager"
        class="hero-image md:h-40"
    />
    <Image
        src={withVishant}
        alt="Anav Chand with Vishant Kumar"
        width={500}
        height={500}
        format="webp"
        loading="eager"
        class="hero-image row-span-2"
    />
    <Image
        src={withLoni}
        alt="Anav Chand with Loni Tuungahala"
        width={500}
        height={500}
        format="webp"
        loading="eager"
        class="hero-image hidden md:block md:row-span-2"
    />
    <Image
        src={withLoniLanu}
        alt="Anav Chand with Seilnoi Tuungahala and Lanuongo Guttenbeil"
        width={500}
        height={500}
        format="webp"
        loading="eager"
        class="hero-image md:h-40"
    />
</section>
