---
import LogoImage from "@images/logo.webp";
import { Image } from "astro:assets";

const links = [
    {
        label: "Home",
        href: "/",
        event: "link-home"
    },
    {
        label: "Projects",
        href: "/projects",
        event: "link-projects"
    },
    {
        label: "Skills",
        href: "/skills",
        event: "link-skills"
    },
    {
        label: "Experience",
        href: "/experience",
        event: "link-experience"
    },
    {
        label: "Blogs",
        href: "/blogs",
        event: "link-blogs"
    },
    {
        label: "Links",
        href: "https://links.anav.dev",
        event: "link-links"
    }
];
---

<nav
    class="fixed w-screen max-w-7xl left-1/2 -translate-x-1/2 bg-transparent top-5"
>
    <div
        class="flex items-center p-2 w-11/12 md:w-3/4 lg:w-1/2 mx-auto bg-white border border-zinc-200 rounded-full"
    >
        <a class="w-full md:w-fit" data-umami-event="link-home" href="/">
            <Image
                class="rounded-full h-8 w-8"
                alt="Anav Chand"
                src={LogoImage}
                loading="eager"
                quality="max"
            />
        </a>
        <div class="flex w-full justify-around">
            {
                links.map((link) => (
                    <a
                        class="hidden md:block no-underline hover:underline text-base"
                        data-umami-event={link.event}
                        href={link.href}
                    >
                        {link.label}
                    </a>
                ))
            }
        </div>
        <button onclick="toggleMenu()" class="px-3 block md:hidden">Menu</button
        >
    </div>
</nav>

<div
    id="menu"
    class="fixed hidden items-center top-0 left-0 backdrop-blur-lg w-screen h-screen"
>
    <div
        class="bg-white text-center mx-auto w-11/12 h-fit space-y-10 py-10 rounded-lg"
    >
        {
            links.map((link) => (
                <a
                    class="block no-underline hover:underline text-base"
                    data-umami-event={link.event}
                    href={link.href}
                >
                    {link.label}
                </a>
            ))
        }
        <button onclick="toggleMenu()">Close</button>
    </div>
</div>

<script is:inline>
    const menu = document.getElementById("menu");

    const toggleMenu = () => {
        menu.classList.toggle("hidden");
        menu.classList.toggle("flex");
    };
</script>
