---
interface Props {
    title: string;
    description: string;
    contentType: "Projects" | "Blogs";
    createdAt: Date;
    updatedAt: Date;
}

const { title, description, contentType, createdAt, updatedAt } = Astro.props;

const pageUrl = new URL(Astro.url.pathname, Astro.site);
const contentUrl = new URL(contentType.toLocaleLowerCase() + "/", Astro.site);

const breadcrumbStructuredData = {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    itemListElement: [
        {
            "@type": "ListItem",
            position: 1,
            name: contentType,
            item: contentUrl
        },
        {
            "@type": "ListItem",
            position: 2,
            name: title,
            item: pageUrl
        }
    ]
};

const contentStructuredData = {
    "@context": "https://schema.org",
    "@type": "Article",
    headline: title,
    datePublished: createdAt.toISOString(),
    dateModified: updatedAt.toISOString(),
    author: {
        "@type": "Person",
        name: "Anav Chand",
        url: Astro.site
    }
};

import NavBar from "@components/NavBar.astro";

import "@fontsource-variable/jetbrains-mono";
import "@fontsource/geist-sans";
import "@fontsource/alice";
import "../../src/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <meta property="og:description" content={description} />
        <meta property="og:site_name" content="Anav Chand" />
        <meta name="description" content={description} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta property="og:image" content="/og.jpg" />
        <meta property="og:title" content={title} />
        <meta property="og:url" content={pageUrl} />
        <meta name="author" content="Anav Chand" />
        <link rel="canonical" href={pageUrl} />
        <title>{title}</title>
        <style>
            @view-transition {
                navigation: auto;
            }
        </style>
        <script
            defer
            is:inline
            type="application/ld+json"
            set:html={JSON.stringify(breadcrumbStructuredData)}
        />
        <script
            defer
            is:inline
            type="application/ld+json"
            set:html={JSON.stringify(contentStructuredData)}
        />
        <script
            defer
            is:inline
            type="text/partytown"
            data-domains="www.anav.dev"
            src="https://cloud.umami.is/script.js"
            data-website-id="1914ece2-a419-41e4-8b8f-035edde09185"></script>
    </head>
    <body class="max-w-7xl mx-auto">
        <NavBar />
        <main class="pt-16 pb-[50vh] w-11/12 md:w-3/4 lg:w-1/2 mx-auto content">
            <slot />
        </main>
    </body>
</html>
