---
import NavBar from "@components/NavBar.svelte";
import { getImage } from "@utils/getImage";
import Logo from "@components/Logo.astro";

import "@fontsource-variable/jetbrains-mono";
import "@fontsource/geist-sans";
import "@fontsource/alice";
import "../../src/global.css";

interface Props {
    title: string;
    description: string;
    contentType: "Projects" | "Skills" | "Experience" | "Blogs";
}

const { title, description, contentType } = Astro.props;

const pageUrl = new URL(Astro.url.pathname, Astro.site);
const ogImage = getImage({ title, description });

const breadcrumbStructuredData = {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    itemListElement: [
        {
            "@type": "ListItem",
            position: 1,
            name: contentType,
            item: pageUrl
        }
    ]
};
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <meta property="og:description" content={description} />
        <meta property="og:site_name" content="Anav Chand" />
        <meta name="description" content={description} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta property="og:image" content={ogImage} />
        <meta property="og:title" content={title} />
        <meta property="og:url" content={pageUrl} />
        <meta name="author" content="Anav Chand" />
        <link rel="canonical" href={pageUrl} />
        <title>{title}</title>
        <style>
            @view-transition {
                navigation: auto;
            }
        </style>
        <script
            defer
            is:inline
            type="application/ld+json"
            set:html={JSON.stringify(breadcrumbStructuredData)}
        />
        <script
            defer
            is:inline
            type="text/partytown"
            data-domains="www.anav.dev"
            src="https://cloud.umami.is/script.js"
            data-website-id="1914ece2-a419-41e4-8b8f-035edde09185"></script>
    </head>
    <body class="max-w-7xl mx-auto">
        <NavBar pathname={pageUrl.pathname} client:load>
            <Logo />
        </NavBar>
        <main class="pt-16 pb-[50vh] w-11/12 md:w-3/4 lg:w-1/2 mx-auto">
            <slot />
        </main>
    </body>
</html>
