---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;

const pageUrl = new URL(Astro.url.pathname, Astro.site);

const wesbiteStructuredData = {
    "@context": "https://schema.org",
    "@type": "WebSite",
    name: "Anav Chand",
    alternateName: "Anav",
    url: pageUrl
};

import SpeedInsights from "@vercel/speed-insights/astro";
import NavBar from "@components/NavBar.astro";

import "../../src/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <meta property="og:site_name" content="Anav Chand" />
        <meta name="description" content={description} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta property="og:image" content="/og.jpg" />
        <meta property="og:title" content={title} />
        <meta name="author" content="Anav Chand" />
        <link rel="canonical" href={pageUrl} />
        <title>{title}</title>
        <style>
            @view-transition {
                navigation: auto;
            }
        </style>
        <script
            defer
            is:inline
            type="application/ld+json"
            set:html={JSON.stringify(wesbiteStructuredData)}
        />
        <SpeedInsights />
    </head>
    <body id="anav">
        <NavBar />
        <main class="pt-10 pb-[50vh] w-11/12 md:w-3/4 lg:w-1/2 mx-auto">
            <slot />
        </main>
    </body>
</html>
